"*":
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "file-icons"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "liberation mono"
    fontSize: 13
    preferredLineLength: 72
    scrollPastEnd: true
    showCursorOnSelection: false
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "d0fe51be-40bb-4762-b303-b9a8c83d4186"
  "git-blame":
    colorCommitAuthors: true
    ignoreWhiteSpaceDiffs: true
    showHash: false
    showOnlyLastNames: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
