"*":
  "atom-notes": {}
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "react"
      "notebook"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "vice-city-syntax"
    ]
  editor:
    atomicSoftTabs: false
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "7786e388-505a-a7a4-d54d-6fab3753bb08"
  fonts:
    fontFamily: "Overpass Mono"
  "markdown-pdf":
    format: "Letter"
  "markdown-preview":
    allowUnsafeProtocols: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
