"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3bdcb795-cdc6-4dd3-8926-b45be43eda5c"
    html:
      indent_char: "    "
      indent_inner_html: true
    js:
      indent_char: "    "
      indent_with_tabs: false
  "atom-notes": {}
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    includeCompletionsFromAllBuffers: false
    strictMatching: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "notebook"
      "atom-beautify"
      "fonts"
      "markdown-pdf"
      "pigments"
      "language-atom-notes"
      "plscript"
      "plscript"
      "move-by-paragraph"
    ]
    packagesWithKeymapsDisabled: [
      "git-blame"
      "move-by-paragraph"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "vice-city-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    atomicSoftTabs: false
    fontFamily: "liberation mono"
    fontSize: 13
    invisibles: {}
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "7786e388-505a-a7a4-d54d-6fab3753bb08"
  fonts:
    fontFamily: "Roboto Mono Medium"
  "git-blame":
    colorCommitAuthors: true
    columnWidth: 180
    ignoreWhiteSpaceDiffs: true
    showOnlyLastNames: true
  "git-diff":
    showIconsInEditorGutter: true
  "markdown-pdf":
    format: "Letter"
  "markdown-preview":
    allowUnsafeProtocols: true
  "tree-view": {}
  welcome:
    showOnStartup: false
