
###############################################################################
# ====== TO DO ======
# o make mark-set

'.platform-win32, .platform-linux':
  'ctrl-k ctrl-b': 'unset!'
  'alt-t':'tree-view:toggle'

'.platform-win32 .tree-view, .platform-linux .tree-view':
# ====== UNDO ALL THE CTRL-K STUFF ======
  'ctrl-k up': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k l': 'unset!'
  'ctrl-k k': 'unset!'
  'ctrl-k j': 'unset!'
  'ctrl-k h': 'unset!'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-k ctrl-d': 'unset!' #'find-and-replace:select-skip'

'.editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'
  'alt-g': 'go-to-line:toggle'

  'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
  'ctrl-delete': 'editor:delete-to-end-of-subword'

  'ctrl-right': 'editor:move-to-next-subword-boundary'
  'ctrl-left': 'editor:move-to-previous-subword-boundary'
  'ctrl-shift-right': 'editor:select-to-next-subword-boundary'
  'ctrl-shift-left': 'editor:select-to-previous-subword-boundary'

  'ctrl-k': 'custom:kill-line'

# #dont think there's actually an emacs to refer to here
# '.div.editor':
#     'ctrl-space': 'emacs:set-mark'

'body':
# ====== UNDO ALL THE CTRL-K STUFF ======
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k up': 'unset!'
  'ctrl-k ctrl-w': 'unset!'#'pane:close'
  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-p': 'unset!' #'window:focus-previous-pane'
  'ctrl-k ctrl-n': 'unset!' #'window:focus-next-pane'

  'alt-shift-a':'application:add-project-folder'

  #'ctrl-u ctrl-u': 'editor:upper-case'
  'ctrl-u up': 'pane:split-up-and-copy-active-item'
  'ctrl-u right': 'pane:split-right-and-copy-active-item'
  'ctrl-u left': 'pane:split-left-and-copy-active-item'
  'ctrl-u down': 'pane:split-down-and-copy-active-item'

  'ctrl-u ctrl-up': 'window:focus-pane-above'
  'ctrl-u ctrl-right': 'window:focus-pane-on-right'
  'ctrl-u ctrl-left': 'window:focus-pane-on-left'
  'ctrl-u ctrl-down': 'window:focus-pane-below'
  'alt-o': 'window:focus-next-pane'

'.workspace':
  # ==== CURSOR ====
  'alt->': 'core:move-to-bottom'
  'alt-<': 'core:move-to-top'
  'ctrl-shift-e': 'editor:select-to-end-of-line'
  'ctrl-shift-a': 'editor:select-to-beginning-of-line'
  'ctrl-x h': 'core:select-all'

  # ==== TEXT MANIPULATION ====
  'ctrl-_': 'core:undo'
  'ctrl-w': 'core:cut'
  'alt-w': 'core:copy'
  'ctrl-y': 'core:paste'

  # ==== BUFFER ====
  'ctrl-g': 'core:cancel'
  'ctrl-x ctrl-c': 'window:close'
  'ctrl-`': 'core:close'

'atom-text-editor':
  'alt-right': 'editor:move-to-end-of-screen-line'
  'alt-left': 'editor:move-to-first-character-of-line'
  'ctrl-i': 'editor:auto-indent'

'atom-text-editor:not([mini])':
  'alt-b': 'git-blame:toggle'

'atom-workspace':
 'alt-shift-p': 'plscript:toggle'
 'ctrl-b': 'plscript:add-breakpoint'
 'ctrl-alt-c': 'plscript:clear-breakpoints'

'atom-workspace atom-text-editor':
  'ctrl-k ctrl-l': 'unset!' #'editor:lower-case'
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-u ctrl-l': 'editor:lower-case'
  'ctrl-u ctrl-u': 'editor:upper-case'

'atom-workspace atom-text-editor:not([mini])':
# ====== UNDO ALL THE CTRL-K STUFF ======
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'
  'ctrl-u ctrl-0':'editor:unfold-all'
  'ctrl-u ctrl-1':'editor:fold-at-indent-level-1'
  'ctrl-u ctrl-2':'editor:fold-at-indent-level-2'
  'ctrl-u ctrl-3':'editor:fold-at-indent-level-3'
  'ctrl-u ctrl-4':'editor:fold-at-indent-level-4'
  'ctrl-u ctrl-5':'editor:fold-at-indent-level-5'
  'ctrl-u ctrl-6':'editor:fold-at-indent-level-6'
  'ctrl-u ctrl-7':'editor:fold-at-indent-level-7'
  'ctrl-u ctrl-8':'editor:fold-at-indent-level-8'
  'ctrl-u ctrl-9':'editor:fold-at-indent-level-9'

  'ctrl-\'': 'editor:fold-selection'
  'ctrl-\"': 'editor:unfold-current-row'
  'ctrl-up': 'editor:move-to-beginning-of-previous-paragraph'
  'ctrl-shift-up':'editor:select-to-beginning-of-previous-paragraph'
  'ctrl-down': 'editor:move-to-beginning-of-next-paragraph'
  'ctrl-shift-down':'editor:select-to-beginning-of-next-paragraph'

'atom-workspace .editor .find-and-replace':
  # 'ctrl-a': 'unset!'
  'ctrl-a': 'core:select-all'
