
# TAGS -----------------------------------------------------------------
'.source.xml, .source.gfm, .text.plain, .text.xml':
  'Code Tag':
    'prefix': 'code'
    'body': '<code>${1:text}</code>'
  'nowiki':
    'prefix': 'nowiki'
    'body': '<nowiki>$0'
  'idk':
    'prefix': 'shrug'
    'body': '\`\\_(ツ)_/`'
  'preformatted-sql':
    'prefix': 'prsql'
    'body': '```sql\n\t$1\n```$0'
  'preformatted-csharp':
    'prefix': 'prcsharp'
    'body': '```csharp\n\t$1\n```$0'
  'preformatted-js':
    'prefix': 'prjs'
    'body': '```javascript\n\t$1\n```$0'
  'preformatted-ts':
    'prefix': 'prts'
    'body': '```typescript\n\t$1\n```$0'
  'preformatted-bash':
    'prefix': 'prba'
    'body': '```bash\n\t$1\n```$0'

'.source.xml, .source.gfm, .text.plain, .text.xml, source.js':
  'console.log':
    'prefix': 'clog'
    'body': 'console.log($1);$0'
