
# TAGS -----------------------------------------------------------------
'.source.xml, .source.gfm, .text.plain, .text.xml':
  'Code Tag':
    'prefix': 'code'
    'body': '<code>${1:text}</code>'
  'idk':
    'prefix': 'shrug'
    'body': '\`\\_(ツ)_/`'
