/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// Markup Preview Styles
.markdown-preview.markdown-preview {
     background-color: #333;
}


// style the background color of the tree view
.tree-view {
  background-color: #333;
}

.editor .gutter {
    background-color: #333;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  background-color: #333;
  //font: "monofur";
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  //border-color: red;
}

// .project-root.selected {
//     background-color: #333;
//     color: #ccc;
// }
//
// // ===== TAB =====
// .inset-panel {
//     background-color: #333;
//     color: #ccc;
// }

// ===== TAB =====
.horizontal-scrollbar {
    background-color: #333;
    color: #ccc;
}

// ===== FOOTER =====
.status-bar {
    background-color: #333;
    color: #ccc;
}

// ===== FIND/REPLACE =====
.tool-panel {
    background-color: #333;
    color: #ccc;
}

// ===== BUTTONS =====
.btn {
    background-color: #333; //proper selector, wrong prop
    color: #ccc;
}

// ===== BUTTONS =====
.editor.mini {
    background-color: #262626; //proper selector, wrong prop
    color: #ccc;
}


// .atom-dock-resize-handle {
//     background-color: #333;
// }
//
// .tab-bar {
//     background-color: #333;
// }
//
//
// .config-menu {
//     background-color: #333;
// }

//
// .status-bar-left {
//     background-color: #333;
// }
//
// .status-bar-right {
//     background-color: #333;
// }
