// =============== TREE VIEW  ==================

// ----- TREE VIEW HEADER -----
atom-dock .tab-bar .tab.active {
    background-color: #555;
    color: #ccc;
}

// ----- TREE FOLDER HEADER -----
.tree-view .project-root-header {
    background-color: #444;
    // color: red;
}

// ----- HIDDEN TOGGLE TAB -----
.atom-dock-toggle-button .atom-dock-toggle-button-inner {
    background-color: #333;
    color: #ccc;
}

.tree-view {
    background-color: #333;
}

.editor .gutter {
    background-color: #333;
}



// =============== TEXT EDITOR TAB BAR ==================

// ----- BACKGROUND BAR BEHIND TABS -----
.tab-bar {
    background-color: #111;
}

// ----- ACTIVE TAB -----
.tab-bar .tab.active[data-type$="Editor"], .tab-bar .tab.active[data-type$="AboutView"], .tab-bar .tab.active[data-type$="TimecopView"], .tab-bar .tab.active[data-type$="StyleguideView"], .tab-bar .tab.active[data-type="MarkdownPreviewView"] {
    background-color: #333;
    // box-shadow: inset 1px 0 #555, inset 0 -1px 0 #555;
    // box-shadow: 1px 0 0 #777;
    // box-shadow: inset 0 -1px 0 #777, 1px 0 0 #777;
}

// ----- INACTIVE TABS -----
.tab-bar .tab {
    background-color: #222;
    box-shadow: inset 0 -1px 0 #555;
    // box-shadow: inset 1px 0 0 #555, inset 0 -1px 0 #555;
}
.tab-bar .tab:last-of-type {
    box-shadow: inset 0 -1px 0 #555;
    // box-shadow: inset 1px 0 0 #555, inset 0 -1px 0 #555;
}



// =============== ATOM TEXT EDITOR ==================

atom-text-editor.editor {
      // color: white;
      background-color: #333;

      //font: "monofur";
      .cursor {
            //border-color: red;
      }
      .syntax--comment {
          // font-family: "monofur";
          //font-size: 15px;
          // font-family: "Office Code Pro";
          //font-size: 1.2em;
          //font-style: italic;
      }
}

atom-text-editor .wrap-guide {
    // background-color: #777;
    background-color: #555;// #AB85AA;
}

// ----- TAB -----
.horizontal-scrollbar {
    background-color: #333;
    color: #ccc;
}

// ----- FOOTER -----
.status-bar {
    background-color: #333;
    color: #ccc;
}

// ----- FIND/REPLACE -----
.tool-panel {
    background-color: #333;
    color: #ccc;
}

// ----- BUTTONS -----
.btn {
    background-color: #333; //proper selector, wrong prop
    color: #ccc;
}

// ----- BUTTONS -----
.editor.mini {
    background-color: #262626; //proper selector, wrong prop
    color: #ccc;
}



// =============== SCROLLBARS ==================

// ----- V SCROLL BAR -----
.scrollbars-visible-always atom-text-editor ::-webkit-scrollbar-thumb {
    background: #888;
}

// ----- V SCROLL GUTTER -----
.scrollbars-visible-always atom-text-editor ::-webkit-scrollbar-track {
    background: #333;
}



// =============== MARKDOWN PREVIEW  ==================

// Markup Preview Styles
.markdown-preview.markdown-preview {
     background-color: #333;
}
