###############################################################################

'.platform-win32, .platform-linux':
  'ctrl-k ctrl-b': 'unset!'
  'alt-t':'tree-view:toggle'
  'ctrl-shift-t':'tree-view:reveal-active-file'
  'alt-shift-t':'platformio-ide-terminal:toggle'
  'alt-shift-x':'platformio-ide-terminal:close'

## ===== TREE-VIEW =================================================================
'.platform-win32 .tree-view, .platform-linux .tree-view':
  'ctrl-k up': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k l': 'unset!'
  'ctrl-k k': 'unset!'
  'ctrl-k j': 'unset!'
  'ctrl-k h': 'unset!'

# ===== EDITOR =====================================================================
'.platform-win32 .editor, .platform-linux .editor':
    'ctrl-k': 'custom:kill-line'

    'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
    'ctrl-delete': 'editor:delete-to-end-of-subword'

    'ctrl-right': 'editor:move-to-next-subword-boundary'
    'ctrl-left': 'editor:move-to-previous-subword-boundary'
    'ctrl-shift-right': 'editor:select-to-next-subword-boundary'
    'ctrl-shift-left': 'editor:select-to-previous-subword-boundary'

# ===== MAIN EDITOR ================================================================
'.platform-win32 .editor:not([mini]), .platform-linux .editor:not([mini])':
    'alt-g': 'go-to-line:toggle'
    'ctrl-a': 'editor:move-to-first-character-of-line'
    'ctrl-e': 'editor:move-to-end-of-line'

# ===== BODY =======================================================================
'body.platform-win32, body.platform-linux':
    'alt-1': 'unset!' # pane:show-item-1'
    'alt-2': 'unset!' # pane:show-item-1'
    'alt-3': 'unset!' # pane:show-item-1'
    'alt-4': 'unset!' # pane:show-item-1'
    'alt-5': 'unset!' # pane:show-item-1'
    'alt-6': 'unset!' # pane:show-item-1'
    'alt-7': 'unset!' # pane:show-item-1'
    'alt-8': 'unset!' # pane:show-item-1'
    'alt-9': 'unset!' # pane:show-item-1'

    'ctrl-k up': 'unset!'
    'ctrl-k down': 'unset!'
    'ctrl-k left': 'unset!'
    'ctrl-k right': 'unset!'
    'ctrl-k ctrl-up': 'unset!'
    'ctrl-k ctrl-down': 'unset!'
    'ctrl-k ctrl-left': 'unset!'
    'ctrl-k ctrl-right': 'unset!'

    'ctrl-k ctrl-w': 'unset!'#'pane:close'
    'ctrl-k ctrl-alt-w': 'unset!'
    'ctrl-k ctrl-p': 'unset!' #'window:focus-previous-pane'
    'ctrl-k ctrl-n': 'unset!' #'window:focus-next-pane'

    'ctrl-1': 'pane:show-item-1'
    'ctrl-2': 'pane:show-item-2'
    'ctrl-3': 'pane:show-item-3'
    'ctrl-4': 'pane:show-item-4'
    'ctrl-5': 'pane:show-item-5'
    'ctrl-6': 'pane:show-item-6'
    'ctrl-7': 'pane:show-item-7'
    'ctrl-8': 'pane:show-item-8'
    'ctrl-9': 'pane:show-item-9'

    'ctrl-u up': 'pane:split-up-and-copy-active-item'
    'ctrl-u right': 'pane:split-right-and-copy-active-item'
    'ctrl-u left': 'pane:split-left-and-copy-active-item'
    'ctrl-u down': 'pane:split-down-and-copy-active-item'

    'ctrl-u ctrl-up': 'window:focus-pane-above'
    'ctrl-u ctrl-right': 'window:focus-pane-on-right'
    'ctrl-u ctrl-left': 'window:focus-pane-on-left'
    'ctrl-u ctrl-down': 'window:focus-pane-below'

    'alt-o': 'window:focus-next-pane'
    'alt-shift-a':'application:add-project-folder'

##### START HERE FOR SYNCING WITH DARWIN FILE
# ===== WORKSPACE ==================================================================
'.platform-win32 .workspace, .platform-linux .workspace':
  'ctrl-8': 'unset!' #github:toggle-github-tab-focus'
  'ctrl-9': 'unset!' #github:toggle-git-tab-focus'

  # ==== CURSOR ====
  'alt->': 'core:move-to-bottom'
  'alt-<': 'core:move-to-top'
  'ctrl-shift-e': 'editor:select-to-end-of-line'
  'ctrl-shift-a': 'editor:select-to-beginning-of-line'
  'ctrl-h': 'core:select-all'

  # ==== TEXT MANIPULATION ====
  # 'ctrl-_': 'core:undo'
  # 'ctrl-w': 'core:cut'
  # 'alt-w': 'core:copy'
  # 'ctrl-y': 'core:paste'

  # ==== BUFFER ====
  'ctrl-g': 'core:cancel'
  'ctrl-`': 'core:close'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
    'ctrl-k ctrl-d': 'unset!' #'find-and-replace:select-skip'

    'alt-right': 'editor:move-to-end-of-screen-line'
    'alt-left': 'editor:move-to-first-character-of-line'
    'ctrl-i': 'editor:auto-indent'
    'ctrl-alt-m': 'bracket-matcher:select-inside-brackets'

'.platform-win32 atom-text-editor.editor-mini, .platform-linux atom-text-editor.editor-mini':
  'ctrl-a': 'core:select-all'

'.platform-win32 atom-workspace atom-text-editor, .platform-win32 atom-workspace atom-text-editor':
    'ctrl-k ctrl-l': 'unset!'
    'ctrl-k ctrl-u': 'unset!'
    'ctrl-u ctrl-l': 'editor:lower-case'
    'ctrl-u ctrl-u': 'editor:upper-case'

    'alt-shift-up': 'core:select-to-top'
    'alt-shift-down': 'core:select-to-bottom'

'.platform-win32 atom-workspace atom-text-editor:not([mini]), .platform-linux atom-workspace atom-text-editor:not([mini])':
  'ctrl-b': 'unset!'
  'alt-y': 'emmet:expand-abbreviation'

    # ====== UNDO ALL THE CTRL-K STUFF ======
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'
  'ctrl-u ctrl-0':'editor:unfold-all'
  'ctrl-u ctrl-1':'editor:fold-at-indent-level-1'
  'ctrl-u ctrl-2':'editor:fold-at-indent-level-2'
  'ctrl-u ctrl-3':'editor:fold-at-indent-level-3'
  'ctrl-u ctrl-4':'editor:fold-at-indent-level-4'
  'ctrl-u ctrl-5':'editor:fold-at-indent-level-5'
  'ctrl-u ctrl-6':'editor:fold-at-indent-level-6'
  'ctrl-u ctrl-7':'editor:fold-at-indent-level-7'
  'ctrl-u ctrl-8':'editor:fold-at-indent-level-8'
  'ctrl-u ctrl-9':'editor:fold-at-indent-level-9'

  'ctrl-\'': 'editor:fold-selection'
  'ctrl-\"': 'editor:unfold-current-row'
  'ctrl-up': 'editor:move-to-beginning-of-previous-paragraph'
  'ctrl-shift-up':'editor:select-to-beginning-of-previous-paragraph'
  'ctrl-down': 'editor:move-to-beginning-of-next-paragraph'
  'ctrl-shift-down':'editor:select-to-beginning-of-next-paragraph'
